@import "../theme/variables.css";

.buttons-options ion-button{
    display:block
}

#logoID {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoDark {
    filter:invert(0%);
}

.logoBright{
    filter:invert(100%);
}
