@import "../theme/variables.css";

.editorDiv {
    height: 100%;
    display: flex;
}

.editorDiv div {
    width: 100%;

    margin: 1em;
}



.output {
    border-style:solid;
    padding: 1em;
    overflow: auto;
}

.textAreaDiv textarea {
height: 100%;
width: 100%;
background-color: var(--ion-background-color);
}
