@import "../theme/variables.css";

.editorDiv {
    height: 100%;
    display: flex;
}

.editorDiv div {
    width: 100%;

    margin: 1em;
}

.ce-inline-toolbar,
.ce-conversion-tool__icon,
.ce-toolbar__actions,
.ce-conversion-toolbar {
    background-color: var(--ion-background-color)
}

.ce-block--selected .ce-block__content,
.ce-toolbar__actions--selected,
.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover,
.ce-inline-tool--active,
.ce-inline-tool:hover,
.ce-inline-toolbar__dropdown:hover,
.cdx-block::selection
{
    background-color: var(--ion-color-primary)
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn,
.ce-inline-tool {
    color: var(--ion-color);
}


.output {
    border-style:solid;
    padding: 1em;
    overflow: auto;
}

.textAreaDiv textarea {
height: 100%;
width: 100%;
background-color: var(--ion-background-color);
}
